* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: rgb(34, 33, 33);
}

.app {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.loader {
  text-align: center;
  margin-top: 30px;
}

.search-bar {
  border: 1px solid white;
  border-radius: 6px;
  padding: 20px;
}

.search-bar p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar span {
  color: red;
}

.search-bar input {
  padding: 10px 20px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 1px solid gray;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
}

.search-bar input:focus {
  border: 1px solid rgb(19, 180, 19);
}

.videolist {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
}

.videolist__small {
  width: 40%;
  order: 2;
  border: 1px solid white;
  border-radius: 6px;
  height: calc(100vh - 220px);
  overflow-y: scroll;
  padding: 25px;
}

.videolist-item {
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  align-items: flex-start;
}

.videolist-item__desc {
  margin-left: 20px;
}

.video-content {
  display: flex;
  justify-content: space-between;
}

.video {
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
}

.video iframe {
  width: 100%;
  height: 450px;
}

.videodescription {
  margin-top: 20px;
}

.videodescription h5 {
  margin: 20px 0;
}

.video-description {
  margin-top: 20px;
}

.video-description h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.video-description p {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.video-description h5 {
  color: rgb(177, 177, 177);
}

.video-content__left {
  display: flex;
  flex-direction: column;
}

.videolist-item__desc__heading {
  font-size: 13px;
}

.videolist-item__desc__paragraph {
  font-size: 12px;
}
